@using PierreTreats.Models;
@model List<PierreTreats.Models.Flavor>;

@{
    ViewData["Title"] = "Flavors Page";
}

<div class="text-center">
  <h1 class="display-4">Flavors available</h1>


  @if (@Model.Count == 0)
  {
    <br><br><h3>No Flavors in the system yet.</h3>
  }
  else 
  {
  <br><h1>Pierre's Flavors</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Flavor Name</th>
        <th scope="col">Treat/s</th>
        @* <th scope="col">Edit T</th> *@
        <th scope="col">Delete Flavor</th>
      </tr>
    </thead>
    <tbody>
    @foreach(Flavor Flavor in Model) 
    {
      <tr>
        <td>@Flavor.FlavorName</td> 
        <td>associated treats will go here</td>
        <td>@Html.ActionLink("", "Delete", new {id=($"{Flavor.FlavorId}")}, new {@class="fa-solid fa-trash-can"})</td>
      </tr>
    }
    </tbody>
  </table>
  }

  <br><h3>@Html.ActionLink("Add a Flavor", "Create", "Flavors")</h3>
 

</div>
