@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
  <br>
  <h3 class="display-4">Pierre's Treats</h3>

  <br><br><h5>@Html.ActionLink("Treats", "Index", "Treats")</h5>
  <br><h5>@Html.ActionLink("Flavors", "Index", "Flavors")</h5>
  <br><h5>@Html.ActionLink("Create an Account/maybe change this to 'log in'", "Index", "Account")</h5>
</div>

